<h1>Update goal</h1>

<form action="<%= goals_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="goal[creator_id]" value="<%= current_user.id %>">

    <label for="goal_title">Title:</label>
    <input type="text" name="goal[title]" id="goal_title">
    <br>
    <br>

    <label>Mark as private?</label>
    
    <label for="goal_is_private">Yes</label>
    <input type="radio" name="goal[is_private]" id="goal_is_private" value="true">

    <label for="goal_is_public">No</label>
    <input type="radio" name="goal[is_private]" id="goal_is_public" value="false">
    <br>
    <br>

    <label>Mark as complete?</label>
    
    <label for="goal_is_complete">Yes</label>
    <input type="radio" name="goal[is_complete]" id="goal_is_complete" value="true">

    <label for="goal_is_not_complete">No</label>
    <input type="radio" name="goal[is_complete]" id="goal_is_not_complete" value="false">
    <br>
    <br>


    <label for="goal_description">Description(optional):</label>
    <br>
    <textarea name="goal[description]" id="goal_description" cols="30" rows="10"></textarea>
    <br>
    <br>

    <input type="submit" value="Update Goal">
</form>